$rchat-black: #040707;
$rchat-grey-1: #222222;
$rchat-grey-2: #333333;
$rchat-grey-3: #808080;
$rchat-grey-4: #eef0f1;
$rchat-white: #ffffff;
$rchat-blue-1: #1c2ecc;
$rchat-blue-2: #2947f2;
$rchat-blue-3: #59beff;
$rchat-green-1: #27c96c;
$rchat-green-2: #60e298;
$rchat-orange: #feba12;
